<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SyncRetryInterval</key>
	<integer>10</integer>
	<key>WifiSyncOnly</key>
	<false/>
	<key>LastSyncDate</key>
	<date>1984-01-30T13:40:00Z</date>
	<key>SyncInterval</key>
	<integer>30</integer>
	<key>ExamIDFormat</key>
	<string>.*</string>
	<key>CellScopeBTUUID</key>
	<string>0000</string>
	<key>New item</key>
	<string></string>
	<key>PatientIDFormat</key>
	<string>.*</string>
	<key>DoAnalysisByDefault</key>
	<true/>
	<key>DateFormat</key>
	<string>yyyy-MM-dd &apos;at&apos; HH:mm</string>
	<key>DefaultLocation</key>
	<string>Fletcher Lab</string>
	<key>CellScopeID</key>
	<string>UCB-001</string>
	<key>MaxNameLocationAddressLength</key>
	<string>50</string>
	<key>ExampleTBImageURL</key>
	<string>assets-library://asset/asset.TIF?id=9056B581-0AD1-43A3-B7F5-20DCE03F0A27&amp;ext=TIF</string>
	<key>RunWithExampleTBImage</key>
	<false/>
	<key>RedThreshold</key>
	<string>0.5</string>
	<key>YellowThreshold</key>
	<string>0.3</string>
	<key>NumFieldsPerSlide</key>
	<integer>5</integer>
	<key>BypassLogin</key>
	<string>NO</string>
	<key>ResetCoreDataOnStartup</key>
	<true/>
	<key>DiagnosticThreshold</key>
	<real>0.5</real>
	<key>NumPatchesToAverage</key>
	<integer>3</integer>
</dict>
</plist>
